body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ffff;
}

.main {
    height: auto;
    border: 50px solid #96b8df;
    background-color: #96b8df;
    align-items: center;
}


.cardsConteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-left: 20px;
}

.card {
    width: 200px;
    height: auto;
    border: 5px solid #b08fdb;
    background-color: #b08fdb;
    display: grid;
    grid-gap: 5px;
    border-radius: 5px;
}

.task {
    color: #747474;
    height: auto;
    width: auto;
    border: 5px solid #fcec93;
    background-color: #fcec93;
}