body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ffff;
}

.main {
    height: auto;
    border: 50px solid #96B8D6;
    background-color: #96B8D6;
    align-items: center;
}

.cardsConteiner {
    display: flex;
    grid-gap: 40px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: auto;
    border: 5px solid #2B5B86;
    background-color: #2B5B86;
    display:2B5B86;
    grid-gap: 5px;
    border-radius: 5px;
}

.task {
    color: #ffffff;
    height: auto;
    width: auto;
    border: 5px solid #44729B;
    background-color: #44729B;
}